.DS_Store
.cursorrules
.envrc
.idea
.venv
.vscode
bin/*
nanobot
releases/*
*.db
/workspace
/workspace-mcp
/test.yaml
/todo

.svelte-kit/
node_modules/
packages/ui/dist

# Ignore zed files
.zed/
__debug_*
