name: Build Main Docker Image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    name: Build and push main Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "25"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"
          cache: true

      - name: Generate
        run: go generate ./...

      - name: Build
        run: CGO_ENABLED=0 go build -trimpath -ldflags "-s -w -X github.com/nanobot-ai/nanobot/pkg/version.Tag=${{ github.sha }} -X github.com/nanobot-ai/nanobot/pkg/version.BaseImage=ghcr.io/nanobot-ai/nanobot:${{ github.sha }}" -o nanobot .

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          target: release
          tags: |
            ghcr.io/nanobot-ai/nanobot:main
            ghcr.io/nanobot-ai/nanobot:${{ github.sha }}
          labels: |
            org.opencontainers.image.created=${{ github.event.head_commit.timestamp }}
            org.opencontainers.image.title=nanobot
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=main
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.description=Nanobot CLI
